/* Set character set */

@charset "utf-8";


/* Remove browser defaults */

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: #000;
  background: #fff;
}
html, body, p, th, td, li, dd, dt {
  font: 1em Arial, Helvetica, sans-serif;
}

/* Define specifics */

html, body {
  height: 100%;
}

body {
  background-color: #b3b3b3;
}

.main {
  height: 100%;
  width: auto;
  background-color: #b3b3b3;
}
