<div class="well">
    <div class="panel-body">
        <gameCanvas id="ToTheMoon"></gameCanvas>
    </div>
</div>


<div class="panel panel-default" style="position: absolute; top: 90px; left: 900px;">
    <h1>Fund the Game!</h1>
    <img src="assets/fund.png" alt="1Ke6KNxyai5Pa1ffnumFCtsQhy21yZC2wZ" style="margin-left: auto; margin-right: auto;"/>
    <h1>Tip the Devs!</h1>
    <img src="assets/tip.png" alt="19KGPK2XidgRWMfSkkA5ZkKxEWva3FYoqg" style="margin-left: auto; margin-right: auto;" />
</div>